
<p class="success-message">Book was successfully created.</p>
<!--↑sccで緑色にする-->


<p class="show_text">
  <string>Title:</string> <%= @book.title %>
</p>
<p class="show_text">
  <string>Body:</string> <%= @book.body %>
</p>


  <%= link_to "Edit", "/books/#{@book.id}/edit" %> | <%= link_to "Back", books_path %>
