
  <p class="success-message">Book was successfully created.</p>
<!--↑sccで緑色にする-->

<p>
  <string>Title:</string> <%= @book.title %>
</p>
<p>
  <string>Body:</string> <%= @book.body %>
</p>

<p>
  <%= link_to "Edit", "/books/#{@book.id}/edit" %> | <%= link_to "Back", books_path %>
</p>